* {
	text-align: center;
	font-family: Helvetica;
}

a {
	color: white;
	font-size: 18px;
}

h1 {
	font-size: 70px;
	font-weight: bold;
}

footer {
	background-color: dimgray;
	text-align: left;
}

.copyright {
	font-size: 11px;
	color: white;
}

.header {
	background-image: url(file:///C:/cygwin64/home/Jessies/coding/command_line/git/pages/broadway/resources/images/building.png);
	color: white;
}

.location {
	font-size: 23px;
	font-weight: bold;
}

.nav {

}