* {
	text-align: center;
	font-family: Helvetica;
}

a {
	font-size: 18px;
}

a, .copyright, .header {
	color: white;
}
h1 {
	font-size: 70px;
}

h1, h2, h3, .location {
	font-weight: bold;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 23px;
}

footer {
	background-color: dimgray;
	text-align: left;
}

p {
	font-size: 14px;
}

.copyright {
	font-size: 11px;
}

.header {
	background-image: url(file:///C:/cygwin64/home/Jessies/coding/command_line/git/pages/broadway/resources/images/building.png);
}

